@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Colors */

*{
    margin: 0;
    padding: 0;
    font-family: "poppins";
}
body{

}
h1{
    text-align: center;
}
section{
    
        /* align-items: center; */
        margin-left: 220px;
        margin-top: 40px;
      
}